@font-face {
  font-family: "Lato Light";
  src: url("../../../assets/fonts/Lato-Light.ttf");
}

@font-face {
  font-family: "Lato Medium";
  src: url("../../../assets/fonts/Lato-Medium.ttf");
}

@font-face {
  font-family: "Pattaya";
  src: url("../../../assets/fonts/Pattaya-Regular.ttf");
}

body header .navbar .navbar-brand {
  font-family: "Pattaya";
  font-size: 34px;
  color: black;
  margin-left: 80px;
}

body header .navbar .navbar-collapse .navbar-nav {
  margin-right: 50px !important;
}

body header .navbar .navbar-collapse .navbar-nav .nav-item {
  text-transform: uppercase;
  font-size: 14px;
}

body header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: black;
}

body header .navbar .navbar-collapse .navbar-nav .nav-item .spec {
  color: white;
  background-color: #0071BC;
  border-radius: 30px;
  margin-top: 5px;
  padding: 3px 15px;
}

body main {
  border: 3px solid #0071BC;
  margin-right: 150px;
  margin-left: 150px;
  margin-top: 100px;
  margin-bottom: 40px;
}

body main .contact-cont {
  margin-top: 7%;
  width: 100%;
  padding-bottom: 2.5rem;
}

body main .contact-cont .title {
  border-bottom: 3px solid #0071BC;
}

body main .contact-cont .title h1 {
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-align: center;
}

body main .contact-cont form {
  width: 70%;
}

body main .contact-cont form .form-group .title2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

body main .contact-cont form .form-group .input-group input {
  border: 1px solid #0071BC;
}

body main .contact-cont form .form-group .input-group input:focus {
  -webkit-box-shadow: 0px 1px 1px #0071BC inset, 0px 0px 8px #005791;
          box-shadow: 0px 1px 1px #0071BC inset, 0px 0px 8px #005791;
}

body main .contact-cont form .form-group .input-group .input-group-prepend span {
  border: 1px solid #0071BC;
  background-color: #0071BC;
}

body main .contact-cont form .form-group .input-group .input-group-prepend span i {
  color: white;
}

body main .contact-cont form .form-group .input-group textarea {
  border: 1px solid #0071BC;
}

body main .contact-cont form .form-group .input-group textarea:focus {
  -webkit-box-shadow: 0px 1px 1px #0071BC inset, 0px 0px 8px #0071BC;
          box-shadow: 0px 1px 1px #0071BC inset, 0px 0px 8px #0071BC;
}

body main .contact-cont form .form-group .input-group-spec input {
  background-color: #005791;
  color: white;
  border: 1px solid #0071BC;
}

body main .contact-cont form .form-group .input-group-spec .input-group-prepend span a {
  text-decoration: none;
  color: white;
}

body main .contact-cont form .form-group .input-group-spec .input-group-prepend span a:hover {
  cursor: pointer;
}

body main .contact-cont form button {
  background-color: #0071BC;
  color: white;
}

body main .contact-cont form button:hover {
  color: white;
}

body footer {
  margin-top: 9rem;
  background-color: #0071BC;
}

body footer .single-row {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

body footer .single-row .logo a {
  font-family: "Pattaya";
  font-size: 34px;
  color: white;
  text-decoration: none !important;
}

body footer .single-row .redaction {
  color: white;
  font-family: "Lato Medium";
}

body footer .single-row .reseaux a {
  color: white;
  font-size: 24px;
  margin: 0px 10px;
}

body footer .single-row .copyrights {
  color: white;
}

body footer .single-row .copyrights a {
  text-decoration: none;
  color: white;
}
/*# sourceMappingURL=contact.css.map */