
@font-face {
    font-family: "Lato Light";
    src: url("../../../assets/fonts/Lato-Light.ttf");
};
@font-face {
    font-family: "Lato Medium";
    src: url("../../../assets/fonts/Lato-Medium.ttf");
};
@font-face {
    font-family: "Pattaya";
    src: url("../../../assets/fonts/Pattaya-Regular.ttf");
};


$primary-color:#0071BC;
$secondary-color:rgb(6, 155, 255);

body {
    header {
        .navbar {
            .navbar-brand {
                font-family: "Pattaya";
                font-size: 34px;
                color: black;
                margin-left: 80px;
            }

            .navbar-collapse {
                .navbar-nav {
                    margin-right: 50px !important;

                    .nav-item {
                        text-transform: uppercase;
                        font-size: 14px;

                        .nav-link {
                            color: black;
                        }

                        .spec {
                            color: white;
                            background-color: $primary-color;
                            border-radius: 30px;
                            margin-top: 5px;
                            padding: 3px 15px;
                        }
                    }
                }
            }
        }
    }

    main{
        border: 3px solid $primary-color;
        margin-right: 150px;
        margin-left: 150px;
        margin-top: 100px;
        margin-bottom: 40px;
        .contact-cont {
            margin-top: 7%;
            width: 100%;
            padding-bottom: 2.5rem;

            .title {
                border-bottom: 3px solid $primary-color;

                h1 {
                    font-size: 1.3rem;
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: 600;
                    text-align: center;
                }
            }

            form {
                width: 70%;

                .form-group {

                    .title2 {
                        font-family: Arial, Helvetica, sans-serif;
                        font-weight: 600;
                    }

                    .input-group {
                        input {
                            border: 1px solid $primary-color;

                            &:focus {
                                box-shadow: 0px 1px 1px $primary-color inset, 0px 0px 8px $secondary-color;
                            }
                        }

                        .input-group-prepend {
                            span {
                                border: 1px solid $primary-color;
                                background-color: $primary-color;

                                i {
                                    color: white;
                                }
                            }
                        }

                        textarea {
                            border: 1px solid $primary-color;
                            &:focus {
                                box-shadow: 0px 1px 1px$primary-color inset, 0px 0px 8px $primary-color;
                            }
                        }
                    }

                    .input-group-spec {
                        input {
                            background-color: $secondary-color;
                            color: white;
                            border: 1px solid $primary-color;
                        }

                        .input-group-prepend {
                            span {
                                a {
                                    text-decoration: none;
                                    color: white;

                                    &:hover{
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            button{
                background-color: $primary-color;
                color: white;

                &:hover{
                    color:white;
                }
            }
        }
    }
    footer{
        margin-top: 9rem;
        background-color: $primary-color;
        .single-row{
            padding-top: 2rem;
            padding-bottom: 1rem;

            .logo{
                a{
                    font-family: "Pattaya";
                    font-size: 34px;
                    color:white;
                    text-decoration: none !important;
                }
            }
            .redaction{
                color: white;
                font-family: "Lato Medium";
            }
            .reseaux{
                a{
                    color:white;
                    font-size: 24px;
                    margin: 0px 10px;
                }
            }
            .copyrights{
                color:white;
                a{
                    text-decoration: none;
                    color:white;
                }
            }
        }
    }
}