@font-face {
    font-family: "Lato Light";
    src: url("../../../assets/fonts/Lato-Light.ttf");
};
@font-face {
    font-family: "Lato Medium";
    src: url("../../../assets/fonts/Lato-Medium.ttf");
};
@font-face {
    font-family: "Pattaya";
    src: url("../../../assets/fonts/Pattaya-Regular.ttf");
};


$primary-color:#0071BC;
$secondary-color:rgb(6, 155, 255);

// Extend projects style
%project{
    margin-top: 6rem;
    .project-container{
        .card{
            position: relative;
            border:0 !important;
            border-radius: 0 !important;
            margin-bottom: 8rem !important;
            &:hover{
                .name{
                    transform: translateY(-10%);
                    transition: transform .2s;
                }
            }
            img{
                cursor: pointer;
            }
            .name{
                padding:2rem !important;
                color:white;
                background-color: $primary-color;
                position: absolute;
                left: 0;
                right:-7%;
                bottom: -20%;
                cursor: pointer;
            }
        }
    }
}


body{
    header{
        .navbar{
            .navbar-brand{
                font-family: "Pattaya";
                font-size: 34px;
                color:black;
                margin-left: 80px;
            }
            .navbar-collapse{
                .navbar-nav{
                    margin-right: 50px !important;
                    .nav-item{
                        text-transform: uppercase;
                        font-size: 14px;
                        .nav-link{
                            color:black;
                        }
                        .spec{
                            color:white;
                            background-color:$primary-color;
                            border-radius: 30px;
                            margin-top:5px;
                            padding: 3px 15px; 
                        }
                    }
                }
            }
        }
    }
    main{
        .categories{
            .navs-list{
                .navs-item{
                    list-style-type: none;
                    font-family: "Lato";
                    font-size: 14px;
                    color: black;
                    cursor: pointer;
                    padding: 1px 12px;
                    border-radius: 11px;
                }
                .active{
                    color: white;
                    background-color: $primary-color;
                }
            }
        }
        .projects-section{
            .non-active{
                display:none;
            }
            #all{
               @extend %project;
            }
            #website{
                @extend %project;  
            }
            #mobileapp{
                @extend %project;
            }
            #webapp{
                @extend %project;
            }
            #game{
                @extend %project;
            }
            #others{
                @extend %project;
            }
            .modal-dialog{
                .modal-content{
                    .modal-header{
                        button{

                        }
                    }
                    .modal-body{
                        img{
                            width: 100%;
                        }
                    }
                    .modal-footer{
                        
                        button{
                            background-color: $secondary-color !important;
                            color:white;
                        }
                        a{
                            button{
                                background-color: $primary-color !important;
                                color:white;
                            }
                        }
                    }
                }
            }
        }

    }
    footer{
        margin-top: 9rem;
        background-color: $primary-color;
        .single-row{
            padding-top: 2rem;
            padding-bottom: 1rem;

            .logo{
                a{
                    font-family: "Pattaya";
                    font-size: 34px;
                    color:white;
                    text-decoration: none !important;
                }
            }
            .redaction{
                color: white;
                font-family: "Lato Medium";
            }
            .reseaux{
                a{
                    color:white;
                    font-size: 24px;
                    margin: 0px 10px;
                }
            }
            .copyrights{
                color:white;
                a{
                    text-decoration: none;
                    color:white;
                }
            }
        }
    }
}
